Repository briandelmsft/SentinelAutomationModules, pull requests merged in 2022-02, with the labels that each got.

#214 Workbook - Update version check logic
  Workbook/azuredeploy.json
Labels: bug, workbook

#216 Workbook - Update aggregation stats visual
  Workbook/azuredeploy.json
Labels: enhancement, workbook

#234 Add Fusion Logic to Related Alerts
  Modules/RelatedAlerts/azuredeploy.json
Labels: bug, module/relatedalerts

#237 MDCA - Update URL API logic selection
  Modules/MCASModule/azuredeploy.json
  Modules/MCASModule/readme.md
Labels: bug, module/mdca
